<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- Left navs -->
      <ul class="nav navbar-nav">
        <span class="navbar-brand hvr-shrink">
          Store App</span>
        <li *ngIf="canSeeOrders()" class="hvr-shrink" [routerLinkActive]="['active']">
          <a [routerLink]="['/orders']">Orders</a></li>
        <li *ngIf="canSeeCatalog()" class="hvr-shrink" [routerLinkActive]="['active']">
          <a [routerLink]="['/catalog']">Catalog</a></li>
        <li *ngIf="canSeeProducts()" class="hvr-shrink" [routerLinkActive]="['active']">
          <a [routerLink]="['/products']">Products</a>
        </li>
      </ul>

      <!-- Right navs -->
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!user.isAnonymous"><a class="disabled">{{user.username}}</a></li>
        <li *ngIf="user.isAnonymous" class="hvr-shrink" [routerLinkActive]="['active']">
          <a [routerLink]="['login']">Login</a>
        </li>
        <li *ngIf="!user.isAnonymous" class="hvr-shrink"><a href="" (click)="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
